/* Estilos Generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 36, 97); /* Azul oscuro */
  color: #333;
}

header {
  color: white;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 60%;
  margin: auto;
}

footer {
  text-align: center;
  color: white;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"], select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #023e8a;
}

#jugadores-container {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.jugador {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.jugador p {
  margin: 5px 0;
}

.alerta {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}

/* Estilos para el botón de "Ver Jugadores Disponibles" */
#ver-jugadores {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
}

#ver-jugadores:hover {
  background-color: #218838;
}

/* Estilo para las alertas cuando no hay suficientes jugadores */
.alerta {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

