body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 36, 97); /* Azul oscuro */;
  color: #333;
}

header {
  color: white;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: #fff;
    border-radius: 4px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.estado-cuenta {
  background-color: white;
  border-left: 5px solid #0077b6;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

}

#contenedor-cuentas{
  border: none;
    box-shadow: none
}

.estado-cuenta p {
  margin: 5px 0;
}

.btn {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #023e8a;
}

footer {
  text-align: center;
  padding: 15px 0;
  color: white;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}
